.about-child {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.footer-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #333;
  box-sizing: border-box;
}
.facebook7 {
  margin: 0;
}
.facebook6,
.instagram3,
.youtube3 {
  position: relative;
  line-height: 30px;
}
.instagram3,
.youtube3 {
  text-decoration: none;
  color: inherit;
}
.instagram3 {
  display: inline-block;
  min-width: 84px;
}
.youtube3 {
  flex: 1;
}
.platform-icons {
  width: 287px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.all-right-reserved-container3 {
  align-self: stretch;
  height: 30px;
  position: relative;
  line-height: 35px;
  display: inline-block;
  flex-shrink: 0;
}
.copyright1 {
  width: 274px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
}
.social,
.social-icons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.social-icons1 {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
}
.social {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 57px 0 60px;
  box-sizing: border-box;
}
.about,
.footer2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer2 {
  align-self: stretch;
  align-items: flex-end;
  gap: 14px;
  max-width: 100%;
}
.about {
  width: 100%;
  position: relative;
  background-color: #222;
  overflow: hidden;
  align-items: flex-start;
  padding: 45px 0 22px;
  box-sizing: border-box;
  gap: 619px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .social {
    padding-left: 30px;
    padding-right: 28px;
    box-sizing: border-box;
  }
  .about {
    gap: 309px;
  }
}
@media screen and (max-width: 750px) {
  .social-icons1 {
    flex-wrap: wrap;
  }
  .about {
    gap: 155px;
  }
}
