.logo-shape {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: #007ced;
  width: 55px;
}
.akr1 {
  text-decoration: none;
  position: absolute;
  top: 9px;
  left: 15px;
  line-height: 37px;
  color: inherit;
  display: inline-block;
  width: 100px;
  height: 37px;
  white-space: nowrap;
  z-index: 1;
}
.home2,
.logo1 {
  position: relative;
  cursor: pointer;
}
.logo1 {
  height: 55px;
  width: 115px;
}
.home2 {
  text-decoration: none;
  height: 30px;
  line-height: 35px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  min-width: 62px;
}
.skills-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 6px 0 0;
  color: #fff;
}
.front-end-skills3 {
  margin: 0;
}
.front-end-skills2 {
  text-decoration: none;
  align-self: stretch;
  height: 30px;
  position: relative;
  line-height: 35px;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.skills-labels1 {
  width: 144px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 6px 0 0;
  box-sizing: border-box;
}
.back-end-skills2 {
  text-decoration: none;
  align-self: stretch;
  height: 30px;
  position: relative;
  line-height: 35px;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.skills-labels2 {
  width: 136px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
}
.contact4 {
  text-decoration: none;
  width: 92px;
  position: relative;
  line-height: 35px;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.skills-container3 {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
}
.skills-container-wrapper {
  margin: 0;
  width: 650px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.content,
.frame-section,
.main,
.skills,
.skills-container-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.skills {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.content,
.frame-section,
.main {
  justify-content: flex-start;
}
.content {
  width: 1818px;
  flex-direction: row;
  padding: 0 62px;
  box-sizing: border-box;
  text-align: left;
  font-size: 35px;
  color: #fff;
  font-family: Ribeye;
}
.frame-section,
.main {
  align-self: stretch;
  flex-direction: column;
  gap: 59px;
}
.main {
  gap: 53px;
}
.back-end-child {
  width: 676.6px;
  height: 15px;
  background-color: #444;
  max-width: 100%;
}
.back-end-child,
.back-end-inner,
.back-end-item {
  position: relative;
  border-radius: 8px;
  display: none;
}
.back-end-item {
  width: 673.3px;
  height: 11px;
  background-color: #222;
  max-width: 100%;
}
.back-end-inner {
  width: 28.5px;
  height: 5px;
  background-color: #007ced;
}
.footer-item {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #333;
  box-sizing: border-box;
}
.facebook8,
.instagram4,
.youtube4 {
  position: relative;
  line-height: 30px;
}
.instagram4 {
  display: inline-block;
  min-width: 84px;
}
.youtube4 {
  flex: 1;
}
.social-icons2 {
  width: 287px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.all-right-reserved-container4 {
  align-self: stretch;
  height: 30px;
  position: relative;
  line-height: 35px;
  display: inline-block;
  flex-shrink: 0;
}
.copyright2 {
  width: 274px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
}
.social-container,
.social-icons-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.social-icons-parent {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.social-container {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 57px 0 60px;
  box-sizing: border-box;
}
.back-end,
.footer3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer3 {
  align-self: stretch;
  align-items: flex-end;
  gap: 14px;
  max-width: 100%;
}
.back-end {
  width: 100%;
  position: relative;
  background-color: #222;
  overflow: hidden;
  align-items: flex-start;
  padding: 54px 0 22px;
  box-sizing: border-box;
  gap: 143px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
}
@media screen and (max-width: 1250px) {
  .content,
  .social-container {
    padding-left: 31px;
    padding-right: 31px;
    box-sizing: border-box;
  }
  .social-container {
    padding-left: 30px;
    padding-right: 28px;
  }
  .back-end {
    gap: 71px;
  }
}
@media screen and (max-width: 825px) {
  .skills-container-wrapper {
    display: none;
  }
  .frame-section {
    gap: 29px;
  }
  .main {
    gap: 26px;
  }
  .social-icons-parent {
    flex-wrap: wrap;
  }
  .back-end {
    gap: 36px;
  }
}
