.contact-child {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.logo-child {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: #007ced;
  width: 55px;
}
.akr {
  text-decoration: none;
  position: absolute;
  top: 9px;
  left: 15px;
  line-height: 37px;
  color: inherit;
  display: inline-block;
  width: 100px;
  height: 37px;
  white-space: nowrap;
  z-index: 1;
}
.logo {
  align-self: stretch;
  height: 55px;
  position: relative;
  cursor: pointer;
}
.logo-wrapper {
  width: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.home {
  text-decoration: none;
  height: 30px;
  position: relative;
  line-height: 35px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  min-width: 62px;
  cursor: pointer;
}
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 6px 0 0;
  color: #fff;
}
.front-end-skills {
  text-decoration: none;
  align-self: stretch;
  height: 30px;
  position: relative;
  line-height: 35px;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.skills-container1,
.skills-container2 {
  width: 144px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 6px 0 0;
  box-sizing: border-box;
}
.skills-container2 {
  width: 136px;
  padding: 1px 0 0;
}
.contact1 {
  text-decoration: none;
  width: 92px;
  position: relative;
  line-height: 35px;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.skills-container-parent {
  margin: 0;
  justify-content: flex-start;
  gap: 70px;
  text-align: left;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
}
.contact-inner,
.frame-parent,
.skills-container-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.contact-inner {
  width: 1842px;
  justify-content: flex-start;
  padding: 0 64px;
  box-sizing: border-box;
  text-align: left;
  font-size: 35px;
  color: #fff;
  font-family: Ribeye;
}
.frame-child {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid #333;
  box-sizing: border-box;
  display: none;
  z-index: 0;
}
.contact2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 35px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.contact-wrapper {
  width: 577px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 62px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.divider {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  background-color: #252525;
}
.line-parent,
.securesmartseemless {
  align-self: stretch;
  box-sizing: border-box;
  position: relative;
}
.securesmartseemless {
  height: 2px;
  border-top: 2px solid #333;
  flex-shrink: 0;
}
.line-parent {
  height: 231px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 93px 0 103px;
  gap: 103px;
  max-width: 100%;
}
.image-18-icon {
  width: 82px;
  height: 85px;
  position: relative;
  object-fit: cover;
}
.name-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 11px;
}
.placeholder-name {
  width: 186px;
  position: relative;
  line-height: 35px;
  display: inline-block;
  white-space: nowrap;
}
.fahradit-klasick-smyslupln {
  align-self: stretch;
  height: 45px;
  position: relative;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  flex-shrink: 0;
}
.name-field-parent,
.name-label-container {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.name-label-container {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  min-width: 268px;
}
.name-field-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 17px;
}
.image-19-icon {
  height: 73px;
  width: 73px;
  position: relative;
  object-fit: cover;
}
.address {
  width: 286px;
  position: relative;
  line-height: 35px;
  display: inline-block;
}
.address-parent,
.email-label-container,
.image-19-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.address-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 3px;
}
.email-label-container,
.image-19-parent {
  max-width: 100%;
}
.email-label-container {
  flex: 1;
  flex-direction: column;
  padding: 11px 0 0;
  box-sizing: border-box;
  min-width: 268px;
}
.image-19-parent {
  align-self: stretch;
  flex-direction: row;
  gap: 21px;
}
.image-20-icon {
  height: 69px;
  width: 70px;
  position: relative;
  object-fit: cover;
}
.amit1711030007gmailcom {
  width: 322px;
  position: relative;
  line-height: 35px;
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
}
.amit1711030007gmailcom-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 3px;
}
.amit1711030007gmailcom-parent,
.country-label-container,
.group-div,
.image-20-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.country-label-container {
  flex: 1;
  flex-direction: column;
  padding: 12px 0 0;
  box-sizing: border-box;
  min-width: 268px;
}
.group-div,
.image-20-parent {
  width: 499px;
  flex-direction: row;
  gap: 17px;
}
.group-div {
  width: 511px;
  flex-direction: column;
  align-items: flex-end;
  gap: 32.5px;
  min-width: 511px;
}
.contact-me {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 35px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.submit-button-container {
  width: 339px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-inner,
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 2px solid #353535;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.frame-inner {
  border-top: 2px solid #007ced;
  width: 42px;
  height: 2px;
}
.line-group {
  height: 2px;
  flex: 1;
  position: relative;
}
.description-input-container {
  width: 129px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1px 8px;
  box-sizing: border-box;
}
.full-name {
  width: 178px;
  position: relative;
  line-height: 29px;
  display: inline-block;
  flex-shrink: 0;
}
.full-name-parent,
.rectangle-div {
  border-radius: 5px;
  border: 2px solid #555;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-div {
  height: 53px;
  width: 512px;
  position: relative;
  display: none;
}
.full-name-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 20px 13px;
  z-index: 1;
}
.input-fields-layout-child {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 53px;
  font-family: Poppins;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
.polygon-icon {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.country-parent,
.polygon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px 0 0;
}
.country-parent {
  align-self: stretch;
  border-radius: 5px;
  border: 2px solid #555;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 19px 13px 18px;
  max-width: 100%;
  gap: 20px;
  z-index: 1;
}
.input-fields-container,
.input-fields-layout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-fields-layout {
  flex: 1;
  flex-direction: column;
  gap: 26.5px;
}
.input-fields-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1px;
  box-sizing: border-box;
}
.description-container-child {
  width: 161px;
  height: 62px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.description-container {
  width: 513px;
  flex-direction: column;
  gap: 27px;
  min-width: 513px;
  max-width: 100%;
}
.description-container,
.description-container-parent,
.frame-wrapper,
.group-textarea {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-textarea {
  border: 2px solid #555;
  background-color: transparent;
  height: 212px;
  width: auto;
  outline: 0;
  align-self: stretch;
  border-radius: 5px;
  box-sizing: border-box;
  flex-direction: row;
  padding: 12px 16px;
  font-family: Poppins;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
.description-container-parent,
.frame-wrapper {
  max-width: 100%;
}
.frame-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 37px 0 0;
  box-sizing: border-box;
  min-width: 352px;
}
.description-container-parent {
  align-self: stretch;
  flex-direction: row;
  gap: 34px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}
.submission-container,
.submission-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.submission-container {
  align-self: stretch;
  gap: 5px;
}
.submission-container-wrapper {
  width: 1088px;
  padding: 19px 0 0;
  box-sizing: border-box;
  min-width: 1088px;
  font-size: 28px;
}
.form-container,
.input-fields {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.input-fields {
  width: 1706px;
  justify-content: space-between;
  gap: 20px;
}
.form-container {
  width: 1894px;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.footer-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #333;
  box-sizing: border-box;
}
.facebook,
.instagram,
.youtube {
  position: relative;
  line-height: 30px;
}
.instagram {
  display: inline-block;
  min-width: 84px;
}
.youtube {
  text-decoration: none;
  flex: 1;
  color: inherit;
}
.social-links-container {
  width: 287px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.all-right-reserved {
  margin: 0;
}
.all-right-reserved-container {
  align-self: stretch;
  height: 30px;
  position: relative;
  line-height: 35px;
  display: inline-block;
  flex-shrink: 0;
}
.all-right-reserved-wrapper {
  width: 274px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
}
.footer-content,
.footer-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.footer-info {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.footer-content {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 57px 0 60px;
  box-sizing: border-box;
}
.footer,
.form-container-parent,
.frame-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.footer {
  align-self: stretch;
  align-items: flex-end;
  gap: 14px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.form-container-parent,
.frame-container {
  align-items: flex-start;
  text-align: left;
  color: #fff;
  font-family: Poppins;
}
.form-container-parent {
  align-self: stretch;
  gap: 30px;
  font-size: 20px;
}
.frame-container {
  width: 1920px;
  gap: 192px;
  font-size: 55px;
}
.image-21-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-21-wrapper {
  width: 1678px;
  flex-direction: column;
  padding: 258px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: -1799px;
}
.contact,
.frame-group,
.image-21-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
}
.contact {
  width: 100%;
  position: relative;
  background-color: #222;
  overflow: hidden;
  flex-direction: column;
  padding: 45px 0 22px;
  box-sizing: border-box;
  gap: 59px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1650px) {
  .group-div,
  .submission-container-wrapper {
    flex: 1;
  }
  .input-fields {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1300px) {
  .contact-inner {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
  .line-parent {
    gap: 51px;
  }
  .description-container {
    flex: 1;
  }
  .description-container-parent {
    flex-wrap: wrap;
  }
  .submission-container-wrapper {
    min-width: 100%;
  }
  .footer-content {
    padding-left: 30px;
    padding-right: 28px;
    box-sizing: border-box;
  }
  .frame-container {
    gap: 96px;
  }
}
@media screen and (max-width: 900px) {
  .skills-container-parent {
    display: none;
    gap: 35px;
  }
  .contact2 {
    font-size: 44px;
    line-height: 28px;
  }
  .contact-wrapper {
    padding-left: 31px;
    padding-right: 31px;
    box-sizing: border-box;
  }
  .line-parent {
    gap: 26px;
  }
  .group-div {
    gap: 16px;
  }
  .description-container,
  .group-div {
    min-width: 100%;
  }
  .description-container-parent {
    gap: 17px;
  }
  .footer-info {
    flex-wrap: wrap;
  }
  .frame-container {
    gap: 48px;
  }
  .contact {
    gap: 29px;
  }
}
@media screen and (max-width: 450px) {
  .skills-container-parent {
    gap: 17px;
  }
  .contact2 {
    font-size: 33px;
    line-height: 21px;
  }
  .placeholder-name {
    font-size: 16px;
    line-height: 28px;
  }
  .name-field-parent {
    flex-wrap: wrap;
  }
  .address {
    font-size: 16px;
    line-height: 28px;
  }
  .image-19-parent {
    flex-wrap: wrap;
  }
  .amit1711030007gmailcom {
    font-size: 16px;
    line-height: 28px;
  }
  .image-20-parent {
    flex-wrap: wrap;
  }
  .contact-me {
    font-size: 22px;
    line-height: 28px;
  }
  .frame-wrapper {
    min-width: 100%;
  }
}
