.separator {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid #333;
  box-sizing: border-box;
}
.facebook5 {
  margin: 0;
}
.facebook4,
.instagram2,
.youtube2 {
  position: relative;
  line-height: 30px;
}
.instagram2,
.youtube2 {
  text-decoration: none;
  color: inherit;
}
.instagram2 {
  display: inline-block;
  min-width: 84px;
}
.youtube2 {
  flex: 1;
}
.social-icons {
  width: 287px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.all-right-reserved-container2 {
  align-self: stretch;
  height: 30px;
  position: relative;
  line-height: 35px;
  display: inline-block;
  flex-shrink: 0;
}
.copyright {
  width: 274px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
}
.links-container,
.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.links-container {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
}
.social-links {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 57px 0 60px;
  box-sizing: border-box;
}
.footer1,
.home1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer1 {
  align-self: stretch;
  align-items: flex-end;
  gap: 13px;
  max-width: 100%;
}
.home1 {
  width: 100%;
  position: relative;
  background-color: #222;
  overflow: hidden;
  align-items: flex-start;
  padding: 56px 0 22px;
  box-sizing: border-box;
  gap: 165px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .social-links {
    padding-left: 30px;
    padding-right: 28px;
    box-sizing: border-box;
  }
  .home1 {
    gap: 82px;
  }
}
@media screen and (max-width: 750px) {
  .links-container {
    flex-wrap: wrap;
  }
  .home1 {
    gap: 41px;
  }
}